@font-face {
  font-family: sahel;
  src: url("fonts/sahel/Sahel.eot");
  src: url("fonts/sahel/Sahel.eot?#iefix") format("FontName-opentype"),
    url("fonts/sahel/Sahel.woff") format("woff"),
    url("fonts/sahel/Sahel.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Sahel-FD;
  src: url(fonts/sahel/FD/Sahel-FD.woff);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --card-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sahel, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  direction: rtl;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}
a {
  text-decoration: none;
  color: unset;
  transition: 0.3s ease-in-out;
}
a:hover {
  color: #428bca;
}
img {
  width: 100%;
  display: block;
}

/* Start style */
.main-container {
  padding: 1.5rem 6px;
}
.main-container h1 {
  font-size: 1.7em;
  padding: 6px;
  margin: 6px;
  border-bottom: 1px solid #e6e6e6;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 12px;
  padding: 12px;
}
.product-box {
  text-align: center;
  box-shadow: 0 2px 6px rgba(0.1, 0.1, 0.1, 0.2);
  border-radius: var(--card-radius);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 350px;
  max-height: 400px;
  row-gap: 15px;
  padding-bottom: 15px;
}
.product-img {
  background-color: white;
  width: 100%;
  height: 230px;
  overflow: hidden;
  border-radius: var(--card-radius) var(--card-radius) 0 0;
}
.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-img a {
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.product-img a:hover {
  transform: scale(1.1);
}
.product-title {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
  text-overflow: -o-ellipsis-lastline;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  font-family: sahel, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.5rem;
  margin: 0;
  padding: 0 12px;
}
.price {
  font-family: Sahel-FD;
  font-weight: 900;
  font-size: 1em;
  color: #30a662;
  margin: 0;
  padding: 0 12px;
}

@media screen and (max-width: 500px) {
  .product-list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .product-box {
    min-height: 250px;
  }
  .product-img {
    height: 160px;
  }
}
@media screen and (max-width: 950px) {
  .product-list {
    width: 100%;
  }
}
@media screen and (min-width: 990px) {
  .product-list {
    max-width: 1024px;
    min-width: 990px;
  }
}
@media screen and (min-width: 1200px) {
  .product-list {
    max-width: 1300px;
    min-width: 1200px;
  }
}
